report.*html
*.o
report_config.h
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
MP3Report
lib/*.a
tags
Testing/
CTestTestfile.cmake
test/CTestTestfile.cmake

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
